/* Global styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #f0f2f5, #e0e7ff);
}

a,
a:visited {
color: inherit; /* Use this to prevent the visited link from changing color */
text-decoration: none; /* Optional: To prevent underline if applied */
}